.header__container {
  height: 8.5rem;
  padding-top: 5.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  width: 20.5rem;
  color: var(--primary-light);
}

.header__menu {
  width: 34.4rem;
  font-weight: var(--regular);
  font-size: 2.4rem;
  line-height: 2.8rem;
  display: flex;
  gap: 2.4rem;
  position: relative;
}

.header__menu-item {
  height: 3rem;
  max-width: 11.8rem;
  padding-top: 0.2rem;
  color: var(--white);
  position: relative;
  cursor: pointer;
}

.header__menu-item:after {
  display: block;
  position: absolute;
  content: '';
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 0.4rem solid var(--accent-yellow);
  width: 0;
}

.header__menu-item:hover:after {
  transition: width 200ms linear 300ms;
}

.header__menu-item:first-child:hover:after {
  width: 5rem;
}

.header__menu-item:nth-child(2):hover:after {
  width: 10.8rem;
}

.header__menu-icon {
  position: absolute;
  color: var(--white);
  cursor: pointer;
}

.header__menu-icon:hover {
  color: var(--accent-yellow);
  transition: color 200ms linear 300ms;
}

.header__menu-icon_account {
  max-width: 4rem;
  max-height: 4rem;
  left: 56px;
  top: -5px;
}

.header__menu-icon_night-theme {
  max-width: 3rem;
  max-height: 3.4rem;
  left: 26px;
  top: 0;
}

.header__menu-icon_menu {
  display: none;
}

.header__burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .header__container {
    height: 7rem;
  }

  .header__logo {
    width: 14.2rem;
    height: 3.4rem;
  }

  .header__menu {
    width: 11.8rem;
    justify-content: flex-end;
  }

  .header__menu-container {
    display: flex;
    align-items: center;
  }

  .header__menu-item:nth-child(-n + 2) {
    display: none;
  }

  .header__menu-icon_account {
    max-width: 3rem;
    max-height: 3rem;
    cursor: pointer;
    left: -8rem;
    top: 0.5rem;
  }

  .header__menu-icon_night-theme {
    max-width: 2rem;
    max-height: 2rem;
    cursor: pointer;
    left: -9rem;
    top: 1rem;
  }

  .header__menu-icon_menu {
    display: block;
    max-width: 2.8rem;
    aspect-ratio: 1;
    left: 9rem;
    top: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    height: 4rem;
    padding-top: 1.2rem;
  }

  .header__logo {
    width: 12.2rem;
    height: 2.4rem;
  }

  .header__menu-icon_account {
    max-width: 2.4rem;
    max-height: 2.4rem;
    cursor: pointer;
    left: -65px;
    top: 9px;
  }

  .header__menu-icon_night-theme {
    max-width: 1.6rem;
    max-height: 1.6rem;
    left: -72px;
    top: 12px;
  }

  .header__menu-icon_menu {
    display: block;
    max-width: 2.4rem;
    aspect-ratio: 1;
    left: 94px;
    top: 10px;
  }
}
