html {
  font-size: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  padding: 0;
}

.button__main {
  background-color: var(--white);
  border: 0.1rem solid var(--primary-light);
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: var(--regular);
  line-height: 2.1rem;
  text-align: center;
  color: var(--primary-light);
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: var(--text-color);
}

select {
  font-family: Roboto, sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  border: none;
  outline: 0;
}

input {
  border: none;
  outline: 0;
}

.svg-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--unit-sm);
}

.title {
  text-align: center;
  font-weight: var(--medium);
  font-size: 4rem;
  line-height: 4.7rem;
  color: var(--text-color);
  position: relative;
}

._bg-img {
  background-image: url('../img/castelmezzano.png');
  background-size: cover;
  min-height: 100vh;
  order: 1;
}

._bg-main {
  width: 100%;
  background-color: var(--bg-main);
}

._bg-dark {
  width: 100%;
  background-color: var(--primary-dark);
}

._visible {
  display: block;
}

._hidden {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .container {
    width: var(--container-width);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width);
  }

  .title {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width);
    padding: 0;
  }

  .title {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--container-width);
    padding: 0;
  }
}
